.hydra_runs/
.hydra_multirun/
results*/
plots/
*__pycache__
*datasets
conf/override.yaml
hydra_runs
hydra_multirun
hydra_runs_override/
.ruff_cache/
.cursor/
.venv/
optuna_runs/
.optuna_runs/
job_output/